@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Site.css" rel="stylesheet"/>
<main>
    <h1 class="text-center">Benvenuto in Jess Vet!</h1>
    <p class="text-center h2 my-4">Seleziona un'area:</p>
    <div class="d-flex gap-4 justify-content-center">
        @Html.ActionLink("Lista Animali", "Index", "Animali", new { area = "" }, new { @class = "btn btn-outline-success btn-lg" })
        @Html.ActionLink("Lista Proprietari", "Index", "Proprietari", new { area = "" }, new { @class = "btn btn-outline-warning btn-lg" })
        @Html.ActionLink("Lista Visite", "Index", "Visite", new { area = "" }, new { @class = "btn btn-outline-primary btn-lg" })
        @Html.ActionLink("Lista Ricoveri", "Index", "Ricoveri", new { area = "" }, new { @class = "btn btn-outline-danger btn-lg" })
    </div>
</main>